{% extends 'blog/base.html' %}
{% load static %}
{% block title %}Welcome!{% endblock %}

{% block content%}
   <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6" style="text-align: center">
                <h1>Login</h1>
                <form method="post">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="">
                            <label for="{{ field.id_for_label }}" class="label">{{ field.html_name | title }}</label>
                            <br>
                            {{ field }}
                        </div>
                        <br>
                    {% endfor %}
                    <button class="btn btn-primary btn-lg" type="submit">Login</button>
                </form>
            </div>
        </div>
   </div>

{% endblock %}