@font-face {
    font-family: OswaldRegular;
    src: url('../fonts/Oswald/Oswald-Regular.ttf');
}

@font-face {
    font-family: RalewayRegular;
    src: url('../fonts/Raleway/Raleway-Regular.ttf');
}

body {
    background-color: #f5f5f5;
}

h1, h2, h3, h4, h5 {
    font-family: OswaldRegular;
}

div, p {
    font-family: RalewayRegular;
}

a, a:hover, a:focus {
    color: #222;
    text-decoration: none;
}

.btn {
    line-height: 1 !important;
}

.article {
    padding: 10px;
    border-radius: 2px;
    box-shadow: 3px 0 20px rgba(0,0,0,.12);
    transition: .5s;
    cursor: pointer;
}
.article:hover {
    box-shadow: 3px 0 20px #f89406;
    transition: .5s;
}

.article_time {
    color: #888;
    font-family: helvetica,arial sans-serif;
    font-size: 11px;
    margin-bottom: 6px;
}

.article_title {
    color: #222;
    line-height: 34px;
    font-size: 30px;
}

.article_author {
    border: 1px solid #f89406;
    border-radius: 5px;
    padding: 2px 5px 0 5px;
    background-color: #f89406;
    color: #fff;

}

.badges {
    height: 20px;
    width: 20px;
}

.pad_view {
    padding: 10px 30px;
}

/*---------------------Navbar------------------------*/
.mynavbar {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.logo {
    background-color: red;
    color: #fff !important;
    padding: 5px 10px 0 10px;
    font-family: Arial;
    text-decoration: none;
    text-transform: uppercase;
}
.logo_l {
    background-color: red;
    color: #fff !important;
    font-family: Arial;
    padding: 5px 10px 0 10px;
    text-decoration: none;
}
/*---------------------Navbar------------------------*/

/*.marker {
  display: inline-block;
  position: relative;
  background: yellow;
}
.marker.under:before, .marker.under:after
{
  z-index: -1;
}
.marker:before, .marker:after
{
  display: inline-block;
  position: absolute;

  background: yellow;
  content: "";
  opacity: .5;
  height: 70%;
  width: 100%;
}
.marker:before
{
  left: 0;
  transform: rotate(10deg) translatey(-.5em);
}
.marker:after
{
  left: 0;
  transform: rotate(8deg) translatey(1em);
}*/

/*.highlight{
    background-image: linear-gradient(-100deg, rgba(255, 255, 255, 0), red 90%, rgba(255, 255, 255, 0));
}*/