<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'blog/img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/main.css' %}">

    <script src="{% static 'blog/js/jquery.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap/bootstrap.bundle.min.js' %}"></script>

    {% block css_header %}{% endblock %}
    {% block js_header %}{% endblock %}
</head>
<body>
    {% include 'navbar.html' %}


    <div style="margin-top: 100px; min-height: 75vh !important;">
        {% block content %}

        {% endblock %}
    </div>

    {% include 'footer.html' %}

    {% block css_bottom %}{% endblock %}
    {% block js_bottom %}{% endblock %}
</body>
</html>