{% extends 'blog/base.html' %}

{% load static %}
{% load hot_filter %}

{% block title %}Category{% endblock %}

{% block css_header %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/main.css' %}">
{% endblock %}

{% block content%}

    <div class="container">
        {% for article in articles %}
        <br>
            <div class="row justify-content-center article">
                    <div class="col-md-2 align-self-center">
                        <div class="row d-flex justify-content-center">
                            <h3>{{ article.pk }}</h3>
                        </div>
                        <div class="row d-flex justify-content-center">
                            {% if article.updated|hot %}
                            <img class="badges" src="{% static 'blog/img/svg/hot.svg' %}" alt="hot article">
                            {% endif %}
                            <img class="badges" src="{% static 'blog/img/svg/gold.svg' %}" alt="gold article">
                            {% if article.withAuth %}
                            <img class="badges" src="{% static 'blog/img/svg/locked.svg' %}" alt="locked article">
                            {% endif %}
                            {% if article.adultContent %}
                            <img class="badges" src="{% static 'blog/img/svg/18.svg' %}" alt="18+ article">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md align-self-center">
                        <h3>{{ article.title }}</h3>
                        {{ article.category }}
                    </div>

                    <div class="col-md-3 align-self-center d-flex justify-content-center">
                        <a href="{{ article.get_absolut_url }}"><button class="btn btn-outline-primary mr-2">View</button></a>

                        {% if user.is_authenticated and user == article.author %}
                        <a href="{% url 'edit_article' pk=article.pk %}"><button class="btn btn-outline-success mr-2">Edit</button></a>
                        <button class="btn btn-outline-danger mr-2">Delete</button>
                        {% endif %}
                    </div>
            </div>

        {% empty %}
        <br>
            <div class="row justify-content-center article pt-4">
                <p>Sorry, but this user has no articles yet :(</p>
            </div>

        {% endfor %}

        <div class="pagination container d-flex justify-content-center mt-3">
            <span class="step-links">
                {% if articles.has_previous %}
                    <a href="?page=1"><button class="btn"><<</button></a>
                    <a href="?page={{ articles.previous_page_number }}"><button class="btn"><</button></a>
                {% endif %}

                <span class="current">
                    {{ articles.number }} of {{ articles.paginator.num_pages }}
                </span>

                {% if articles.has_next %}
                    <a href="?page={{ articles.next_page_number }}"><button class="btn">></button></a>
                    <a href="?page={{ articles.paginator.num_pages }}"><button class="btn">>></button></a>
                {% endif %}
            </span>
        </div>


    </div>

{% endblock %}