{% extends 'blog/base.html' %}

{% load static %}

{% block title %}Create article{% endblock %}

{% block css_header %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/main.css' %}">
{% endblock %}


{% block content%}

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <form method="POST" action="">
                    {% csrf_token %}
                    <h1>What is youre`s inspiration today ?</h1>
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_bottom %}
<script src="{% static 'blog/plugin/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'blog/plugin/tinymce/init-tinymce.js' %}"></script>
{% endblock %}