{% extends 'blog/base.html' %}

{% load static %}

{% block title %}Profile: edit profile{% endblock %}

{% block css_header %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/main.css' %}">
<style>
    .edit_form a, .edit_form a:hover, .edit_form a:focus {
        text-decoration: underline;
        color: blue;
    }
</style>
{% endblock %}


{% block content%}

<div class="container edit_form">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-success">Save changes</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}