{% load static %}
<!--<footer class="footer">-->
<!--<div class="container">-->
<!--<p>Footer</p>-->
<!--</div>-->
<!--</footer>-->

<footer class="page-footer font-small blue pt-4 mt-4 border-top">
    <!-- Footer Links -->
    <div class="container text-center mb-3 align-items-center">

        <!-- Grid row -->
        <div class="row">
            <div class="col align-middle">Help</div>
            <div class="col align-middle">Privacy</div>
            <div class="logo col align-middle">&copy; 2018 Noodles Inc</div>
            <div class="col align-middle"><a href="{% url 'terms_of_use' %}">Terms</a></div>
            <div class="col align-middle">About</div>
        </div>
        <!-- Grid row -->
    </div>

</footer>