{% extends 'blog/base.html' %}

{% load static %}
{% load hot_filter %}

{% block title %}Welcome!{% endblock %}

{% block css_header %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/main.css' %}">
{% endblock %}


{% block content%}

<div class="container">
    <h2>The place where you can <span class="logo_l">#noodle</span> everything!</h2>
    <br>


    <div class="row">
        <div class="col-md-6">
            <h3>Ouch, here`s the hottest for you ...</h3>
        </div>
        <div class="col-md-6">
            <h3>The best of the best ...</h3>
        </div>
    </div>

    {% for article in article_list %}
    <div class="row">
        <!--The hottest-->
        <div class="col-md-6">
            <div class="article">
                <div class="row">
                    <div class="col-6">
                        <p class="article_time">{{ article.updated }}</p>
                    </div>
                    <div class="col-6 d-flex justify-content-end" style="padding-right: 30px;">
                        {% if article.updated|hot %}
                        <img class="badges" src="{% static 'blog/img/svg/hot.svg' %}" alt="hot article">
                        {% endif %}

                        <img class="badges" src="{% static 'blog/img/svg/gold.svg' %}" alt="gold article">

                        {% if article.withAuth %}
                        <img class="badges" src="{% static 'blog/img/svg/locked.svg' %}" alt="locked article">
                        {% endif %}
                        {% if article.adultContent %}
                        <img class="badges" src="{% static 'blog/img/svg/18.svg' %}" alt="18+ article">
                        {% endif %}
                    </div>
                </div>

                <p class="article_title">
                    {{ article.title }}
                </p>
                <p>by <a href="{% url 'profile_page' user=article.author %}"><span class="article_author">{{ article.author }}</span></a></p>
                <p>{{ article.text|safe | truncatechars:300}}</p>

                <div class="row">
                    <div class="col-6">

                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <a href="{{ article.get_absolut_url }}">
                            <button class="btn btn-lg btn-outline-primary">VIEW THIS ARTICLE</button>
                        </a>
                    </div>
                </div>

            </div>
            <hr>
        </div>
        <!--The best -->
        <div class="col-md-6">
            <div class="article">
                <div class="row">
                    <div class="col-6">
                        <p class="article_time">{{ article.updated }}</p>
                    </div>
                    <div class="col-6 d-flex justify-content-end" style="padding-right: 30px;">
                        {% if article.updated|hot %}
                        <img class="badges" src="{% static 'blog/img/svg/hot.svg' %}" alt="hot article">
                        {% endif %}
                        <img class="badges" src="{% static 'blog/img/svg/gold.svg' %}" alt="gold article">
                        {% if article.withAuth %}
                        <img class="badges" src="{% static 'blog/img/svg/locked.svg' %}" alt="locked article">
                        {% endif %}
                        {% if article.adultContent %}
                        <img class="badges" src="{% static 'blog/img/svg/18.svg' %}" alt="18+ article">
                        {% endif %}
                    </div>
                </div>
                <p class="article_title">
                    {{ article.title }}
                </p>
                <p>by <a href="{% url 'profile_page' user=article.author %}"><span class="article_author">{{ article.author }}</span></a></p>
                <p>{{ article.text|safe | truncatechars:300}}</p>

                <div class="row">
                    <div class="col-6">

                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <a href="{{ article.get_absolut_url }}">
                            <button class="btn btn-lg btn-outline-primary">VIEW THIS ARTICLE</button>
                        </a>
                    </div>
                </div>


            </div>
            <hr>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}