{% load static %}
<nav class="mynavbar navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="logo navbar-brand" href="/">
            Noodles
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Category
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'category' category='all' %}">All articles</a>
                        <a class="dropdown-item" href="{% url 'category' category='General' %}">General</a>
                        <a class="dropdown-item" href="{% url 'category' category='Health' %}">Health</a>
                        <a class="dropdown-item" href="{% url 'category' category='IT > Python' %}">Python</a>
                        <a class="dropdown-item" href="{% url 'category' category='IT > JS' %}">JavaScript</a>
                        <!--<div class="dropdown-divider"></div>-->
                        <!--<a class="dropdown-item" href="#">None</a>-->
                    </div>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                {% if not user.is_authenticated %}
                <a href="{% url 'login' %}"><button class="btn btn-outline-primary ml-2" type="button">Log in</button></a>
                <a href="{% url 'sign_up' %}"><button class="btn btn-outline-primary ml-2" type="button">Sign up</button></a>
                {% else %}
                <a href="{% url 'create_article' %}"><button class="btn btn-outline-success">Create article</button></a>

                <div class="dropdown ml-2">
                      <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="userSectionDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user }}
                      </button>
                      <div class="dropdown-menu" aria-labelledby="userSectionDropdown">
                        <a class="dropdown-item" href="{% url 'profile_page' user=user %}">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                      </div>
                </div>

                {% endif %}
            </div>
        </div>
    </div>
</nav>