{% extends 'blog/base.html' %}

{% load static %}

{% block title %}Sign up for free{% endblock %}

{% block css_header %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/main.css' %}">
{% endblock %}


{% block content%}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}