{% extends 'blog/base.html' %}

{% load static %}

{% block title %}Terms of use servicec{% endblock %}

{% block css_header %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/main.css' %}">
{% endblock %}


{% block content%}

	<div class="container">

            <div class="row justify-content-md-center">
                <div class="col-md-8 article pad_view">

                    <h1>Website Terms of Use</h1>

                    <p>
                        The Website Name website located at Website.com is a copyrighted work belonging to Noodles Inc.
                        Certain features of the Site may be subject to additional guidelines, terms, or rules, which
                        will be posted on the Site in connection with such features.
                    </p>

                    <p>
                        All such additional terms, guidelines, and rules are incorporated by reference into these Terms.
                    </p>

                    <p>
                        These Terms of Use described the legally binding terms and conditions that oversee your
                        use of the Site. BY LOGGING INTO THE SITE, YOU ARE BEING COMPLIANT THAT THESE TERMS and you
                        represent that you have the authority and capacity to enter into these Terms. YOU SHOULD BE
                        AT LEAST 18 YEARS OF AGE TO ACCESS THE SITE. IF YOU DISAGREE WITH ALL OF THE PROVISION OF
                        THESE TERMS, DO NOT LOG INTO AND/OR USE THE SITE.
                    </p>

                    <p>
                        These terms require the use of arbitration Section 10.2 on an individual basis to resolve
                        disputes and also limit the remedies available to you in the event of a dispute.
                    </p>

                    <h2>Accounts</h2>

                    <p>
                        <b>Account Creation.</b> For you to use the Site, you have to start an account and provide
                        information about yourself. You warrant that: (a) all required registration information you
                        submit is truthful, up-to-date and accurate; (b) you will maintain the accuracy of such
                        information. You may delete your Account at any time by following the instructions on the
                        Site.  Company may suspend or terminate your Account in accordance with Section.
                    </p>

                    <p>
                        <b>Account Responsibilities.</b> You are responsible for maintaining the confidentiality
                        of your Account login information and are fully responsible for all activities that occur
                        under your Account. You approve to immediately notify the Company of any unauthorized use,
                        or suspected unauthorized use of your Account.  Company cannot and will not be liable for
                        any loss or damage arising from your failure to comply with the above requirements.
                    </p>

                    <h2>Access to the Site</h2>

                    <p>
                        <b>Subject to these Terms.</b> Company grants you a non-transferable, non-exclusive, revocable,
                            limited license to access the Site solely for your own personal, noncommercial use.
                    </p>

                    <p>
                        <b>Certain Restrictions.</b> The rights approved to you in these Terms are subject to the
                        following restrictions: (a) you shall not sell, rent, lease, transfer, assign, distribute,
                        host, or otherwise commercially exploit the Site; (b) you shall not change, make derivative
                        works of, disassemble, reverse compile or reverse engineer any part of the Site; (c) you
                        shall not access the Site in order to build a similar or competitive website; and (d)
                        except as expressly stated herein, no part of the Site may be copied, reproduced,
                        distributed, republished, downloaded, displayed, posted or transmitted in any form or by
                        any means unless otherwise indicated, any future release, update, or other addition to
                        functionality of the Site shall be subject to these Terms.  All copyright and other
                        proprietary notices on the Site must be retained on all copies thereof.
                    </p>

                    <p>
                        Company reserves the right to change, suspend, or cease the Site with or without notice
                        to you.  You approved that Company will not be held liable to you or any third-party for
                        any change, interruption, or termination of the Site or any part.
                    </p>

                    <h2>Copyright/Trademark Information.</h2>

                    <p>
                        <b>Copyright ©. All rights reserved.</b>  All trademarks,
                        logos and service marks displayed on the Site are our property or the property of other
                        third-parties. You are not permitted to use these Marks without our prior written consent
                        or the consent of such third party which may own the Marks.
                    </p>

                </div>
            </div>

    </div>

{% endblock %}