{% extends 'blog/base.html' %}

{% load static %}
{% load hot_filter %}

{% block title %}{{ article.title }}{% endblock %}

{% block css_header %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/main.css' %}">
{% endblock %}


{% block content%}

	<div class="container">

            <div class="row justify-content-md-center">
                <div class="col-md-8 article pad_view">

                    {% if user.is_authenticated and user == article.author %}
                    <br>
                    <div style="text-align: right">
                        <a href="{% url 'edit_article' pk=article.pk %}"><button class="btn btn-success">EDIT ARTICLE</button></a>
                        <button class="btn btn-danger">DELETE</button>
                    </div>
                    <br>
                    {% endif %}

                    <div class="row">
                        <div class="col-6">
                            <p class="article_time">{{ article.updated }}</p>
                        </div>
                        <div class="col-6 d-flex justify-content-end" style="padding-right: 30px;">
                            {% if article.updated|hot %}
                            <img class="badges" src="{% static 'blog/img/svg/hot.svg' %}" alt="hot article">
                            {% endif %}
                            <img class="badges" src="{% static 'blog/img/svg/gold.svg' %}" alt="gold article">
                            {% if article.withAuth %}
                            <img class="badges" src="{% static 'blog/img/svg/locked.svg' %}" alt="locked article">
                            {% endif %}
                            {% if article.adultContent %}
                            <img class="badges" src="{% static 'blog/img/svg/18.svg' %}" alt="18+ article">
                            {% endif %}
                        </div>
                    </div>

                    <p class="article_title">{{ article.title }}</p>
                    <p>by <a href="{% url 'profile_page' user=article.author %}"><span class="article_author">{{ article.author }}</span></a></p>
                    <p>{{ article.text|safe | linebreaks}}</p>

                    <div>
                        <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                    </div>

                    <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="100%"></div>

                </div>
            </div>

    </div>

{% endblock %}

{% block js_bottom %}

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

{% endblock %}